@font-face {
    font-family: "Muci";
    src: url("/Fonts/GreatVibes-Regular.ttf");
    font-weight: 500;
    font-size: 30px;
}

@font-face {
    font-family: "Muci-light";
    src: url("/Fonts/GreatVibes-Regular.ttf");
    font-weight: 300;
    font-size: 28px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: lightgoldenrodyellow;
}

h2 {

    font-family: "Roboto", sans-serif;
}

#bioHeader {
    color: brown;
    font-style: italic;
    text-align: justify;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 40px;
}

ul {
    color: brown;
}

#skillsHeader {
    color: blueviolet;
    text-align: justify;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 40px;
}

h1 {
    color: red;
    font-family: "Muci";
    text-align: center;
    margin: 10px;
}

.content {
    color: green;
    font-size: 30px;
    font-family: "Muci-light";
    text-align: justify;
}

.bold {
    font-weight: bold;
    padding: 10px;
    border: solid 1px red;
}

.imgDiv {
    text-align: center;
    background-color: lightblue;
}

#lorem {
    color: blue;
    font-size: 30px;
    font-family: "Muci-light";
    text-align: justify;
    max-width: 75%;
}

#thisisasite {
    color: blue;
    font-size: 30px;
    font-family: "Muci-light";
    text-align: justify;
}

#fixed {
    position: fixed
}

p {
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

img {
    width: 18%;
    box-shadow: 10px 10px 10px black;
    margin: 0.8%;
}

#img1 {
    
}